body {
    color: white;
    background-color: rgb(89, 62, 89);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;
    margin: 0;
}

li {
    padding: 5px;
}

a {
    color: white;
    text-decoration: none;  /* Remove o sublinhado */
}

a:hover {
    text-decoration: underline; /* Adiciona o sublinhado ao passar o mouse */
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(206, 18, 181);
}

h1 {
    color: rgb(206, 18, 181);
}